/* for carrier */

.carrier{
    display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0px 30px 0px;
  }
  
  .carrier-pod{
    background: #d8d8f7;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 5px;
    width: 65px;
    cursor: pointer;
    color: #3030dc;
  }
  
  .carrier-pod h1{
    margin: 10px 0px 0px 0px;
    font-weight: 400;
  }

  .activeCounter{
    background-color: #3030dc;
    color: white;
    cursor: not-allowed;
  }