/* for gallery */

.gallery{
    width: 100%;
      display: inline-flex;
  }
  
  .gallery .left-gallery{
    width: 40%;
  }
  
  .gallery .right-gallery{
    width: 60%;
  }
  
  .right-gallery table tr{
    border: 1px solid #dddddd;
  }
  
  .right-gallery table{
    height: 673px;
      display: inline-block;
      overflow-y: scroll;
    border-collapse: collapse;
    border: 1px solid #d9d5d5;
  }
  
  td, th {
    text-align: left;
    padding: 8px;
    font-size: 12px;
    width: 120px;
  }
  
  .left-gallery .left-wrapper{
    margin: 20px;
    border: 1px solid #d9d5d5;
    padding: 20px;
    position: relative;
  }
  
  .left-wrapper .left-first{
      border: 1px solid #d9d5d5;
      margin: 7px 20px 11px 20px;
    display: flex;
    justify-content: space-around;
    font-size: 11px;
    height: 37px;
    align-items: center;
    border-radius: 5px;
  }
  
  

  .noData{
    text-align : center;
    padding : 30px
  }

  .noData h3{
    padding: 123px 0px 123px 0px;
    border: 1px solid #d9d5d5;
    color: #c3c0c0;
  }

  .disableCursor{
    cursor: not-allowed;
  }

  .vl {
    border-left: 2px solid #648cdc;
    height: 44px;
    position: absolute;
  }

  .hl{
    border-top: 2px solid #648cdc;
    height: 2px;
    width: 21px;
    position: relative;
    top: 27px;
  }

  .img-wrap, .img-wrap-second{
    display: inline-block;
    background: #a0d7e8;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: relative;
    left: -15px;
  }

  .img-wrap img{
    position: relative;
    left: 7px;
    top: 2px;
  }

  .img-wrap-second img{
    position: relative;
    left: 11px;
    top: 4px;
  }

  thead th{
    color: #a09b9b;
    font-size: 12px;
  }